'menu': [
  {
    'label': 'PlatformIO'
    'submenu': [
      {
        'label': 'Initialize new Project'
        'command': 'platformio-atom:initializeNewProject'
      }
      {
        'label': 'Install Shell Commands'
        'command': 'platformio-atom:installCommands'
      }
    ]
  }
]
