'menu': [
  {
    'label': 'PlatformIO'
    'submenu': [
      {
        'label': 'Initialize new Project (or update existing)'
        'command': 'platformio-ide:initialize-new-project'
      }
      {'type': 'separator'}
      {
        'label': 'Build'
        'command': 'build:trigger'
      }
      {
        'label': 'Upload'
        'command': 'build:trigger:PlatformIO: Upload'
      }
      {
        'label': 'Clean'
        'command': 'build:trigger:PlatformIO: Clean'
      }
      {
        'label': 'Run other target...'
        'command': 'build:select-active-target'
      }
      {
        'label': 'Update targets'
        'command': 'build:refresh-targets'
      }
      {'type': 'separator'}
      {
        'label': 'Serial Ports'
        'command': 'platformio-ide:maintenance.serial-ports'
      }
      {
        'label': 'Serial Monitor'
        'command': 'platformio-ide:maintenance.serial-monitor'
      }
      {'type': 'separator'}
      {
        'label': 'Library Manager CLI'
        'command': 'platformio-ide:maintenance.libmanager-cli'
      }
      {
        'label': 'Library Manager GUI (soon)'
        'command': 'platformio-ide:maintenance.libmanager-gui'
      }
      {'type': 'separator'}

      {
        'label': 'Terminal',
        'command': 'platformio-ide:maintenance.open-terminal'
      }
      {
        'label': 'Toggle Terminal',
        'command': 'platformio-ide-terminal:toggle'
      }
      {'type': 'separator'}
      {
        'label': 'Rebuild C/C++ Project Index (Autocomplete, Linter)'
        'command': 'platformio-ide:maintenance.rebuild-index'
      }
      {
        'label': 'Install Shell Commands'
        'command': 'platformio-ide:maintenance.install-commands'
      }
      {'type': 'separator'}
      {
        'label': 'Update platforms and libraries'
        'command': 'platformio-ide:maintenance.update-platformio'
      }
      {
        'label': 'Upgrade PlatformIO'
        'command': 'platformio-ide:maintenance.upgrade-platformio'
      }
      {'type': 'separator'}
      {
        'label': 'Settings'
        'submenu': [
          {
            'label': 'Build Panel'
            'submenu': [
              {
                'label': 'Toggle'
                'command': 'build:toggle-panel'
              }
              {
                'label': 'Visibility'
                'submenu': [
                  {
                    'label': 'Toggle'
                    'command': 'platformio-ide:maintenance.bpv-toggle'
                  }
                  {
                    'label': 'Keep Visible'
                    'command': 'platformio-ide:maintenance.bpv-keep-visible'
                  }
                  {
                    'label': 'Show on Error'
                    'command': 'platformio-ide:maintenance.bpv-show-on-error'
                  }
                  {
                    'label': 'Hidden'
                    'command': 'platformio-ide:maintenance.bpv-hidden'
                  }
                ]
              }
            ]
          }
          {
            'label': 'Toolbar'
            'submenu': [
              {
                'label': 'Toggle'
                'command': 'tool-bar:toggle'
              }
              {
                'label': 'Position'
                'submenu': [
                  {
                    'label': 'Top'
                    'command': 'tool-bar:position-top'
                  }
                  {
                    'label': 'Right'
                    'command': 'tool-bar:position-right'
                  }
                  {
                    'label': 'Bottom'
                    'command': 'tool-bar:position-bottom'
                  }
                  {
                    'label': 'Left'
                    'command': 'tool-bar:position-left'
                  }
                ]
              }
            ]
          }
        ]
      }
      {'type': 'separator'}
      {
        'label': 'Help'
        'submenu': [
          {
            'label': 'Documentation'
            'command': 'platformio-ide:help-docs'
          }
          {
            'label': 'Frequently Asked Questions'
            'command': 'platformio-ide:help-faq'
          }
          {'type': 'separator'}
          {
            'label': 'Report PlatformIO issue'
            'command': 'platformio-ide:help.report-platformio-issue'
          }
          {
            'label': 'Report PlatformIO IDE issue'
            'command': 'platformio-ide:help.report-platformio-ide-issue'
          }
          {
            'label': 'Tech Support Live Chat'
            'command': 'platformio-ide:help.live-chat'
          }
          {'type': 'separator'}
          {
            'label': 'Twitter'
            'command': 'platformio-ide:help-twitter'
          }
          {
            'label': 'Facebook'
            'command': 'platformio-ide:help-facebook'
          }
          {'type': 'separator'}
          {
            'label': 'Website'
            'command': 'platformio-ide:help-website'
          }
          {
            'label': 'About'
            'command': 'platformio-ide:help-about'
          }
        ]
      }
    ]
  }
]
