/**
 * Copyright 2016-present PlatformIO Plus <contact@pioplus.com>
 *
 * License: https://pioplus.com/license.html
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 */

@import "ui-variables";

@-webkit-keyframes button-is-in-progress {
  100% { background-position: -10px 0px; }
}

.btn-inprogress {
  opacity: 1; // override disabled style
  background-image: linear-gradient(to right, transparent 50%, hsla(0,0%,0%,.15) 50%) !important;
  background-size: 10px 100% !important;
  -webkit-animation: button-is-in-progress .5s linear infinite !important;
}

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.icon-inprogress::before {
  -webkit-animation: flash 3s ease infinite;
  animation: flash 3s ease infinite;
}

.tree-view .pio-active-directory {
  @active-directory-border-size: 2px;
  &.project-root {
    border-left: @active-directory-border-size solid @background-color-info;
  }

  /* Matches all selected items (those having lighen background). Note the space between "&" and "." */
  & .selected::before {
    margin-left: @component-icon-padding + @active-directory-border-size;
  }

  /* Matches the root directory only. Note that there are no space between "&" and "." */
  &.selected::before {
    border-right: 2 * @active-directory-border-size solid @background-color-info;
    border-top-right-radius: 2 * @active-directory-border-size;
    border-bottom-right-radius: 2 * @active-directory-border-size;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid @input-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid @input-border-color;
  }

  tbody + tbody {
    border-top: 2px solid @input-border-color;
  }

}

.table-hover tr:hover {
  background-color: @background-color-highlight;
}
